<div class="box-navbar-contain"></div>

<div class="box-navbar-text">
  <div class="container">
    <div class="row p-3">
      <div class="col">
        <p>Start your favourite course </p>
        <h2 class="text-h ">Now learning from anywhere, and build your <span class="txt-underline">bright career.</span>
        </h2>
        <p>It has surface not any </p>
        <a class="btn btn-success btn-light btn-sm px-4 py-2" href="#course">Start A course</a>
      </div>
      <div class="col">
        <div class="btn btn-success btn-light  rounded-circle ">
          <ul style="list-style: none;">
            <li><i class="far fa-envelope  px-2"></i></li>
            <li>1,235</li>
          </ul>
        </div>
      </div>
      <div class="col" style="position: relative;">
        <div class="btn btn-light btn-light  rounded-circle " style="position: absolute;
        right: -6rem;
        top: -3rem;">
          <ul style="list-style: none;">
            <li><i class="far fa-envelope  px-2"></i></li>
            <li>1,235</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


</div>

<div #course id="course" class="container box-home ">
  <div class="card"></div>

  <app-course></app-course>


</div>